body {
  background: url('./image.jpg');
  background-size: cover;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 1rem 2rem;
}

.logo{
  width:100%
}

.header {
  margin: 5px 10px;
  border-radius: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(8, 247, 195, 0.308);
  padding: 0 1.5rem;
  box-shadow: 0 0 5px 2px rgba(7, 19, 126, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.form-group > label {
  color: rgb(242, 238, 245);
  font-size: 1rem;
  margin-bottom: .25rem;
}

.btn {
  background-color: hsl(17, 100%, 50%);
  color: rgb(232, 233, 248);
  padding: .7em 1em;
  border-radius: .3em;
  border: none;
  margin-top: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  font-size: 120%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(248, 77, 9, 0.767);
  background-color: rgba(228, 212, 200, 0.911);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  color: rgb(41, 6, 6);
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: .5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: rgb(53, 51, 51);
  font-size: 1rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}